<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :class => 'input-xxlarge' %>
  </div>
  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date, {}, :class => 'input-small' %>
  </div>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body, :rows=>10, :class => 'input-xxlarge' %>
  </div>
  <div class="actions">
    <button class = 'btn btn-success'>Save changes</button>
  </div>
<% end %>
