<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>
    <div class="navbar">
      <div class="navbar-inner">
        <%= link_to "Random thoughts of Tom", root_path, :class => 'brand'%>
        <ul class="nav">
          <li class="active">
            <%= link_to 'New Post', new_post_path %>
          </li>
        </ul>
      </div>
    </div>
    
    <%= yield %>
  </div>

</body>
</html>
